section.company-banner {
    display: grid;
    width: 100%;
    height: 600px;
    background: url(../images/banner.jpg) no-repeat;
    background-size: cover;

    .short-logo, .company-caption {
        justify-self: center;
        align-self: center;
    }

    .short-logo {
        opacity: 0.9;

        @media screen and (max-width: 768px) { 
            height: 100px;
            width: 100px;           
        }
    }

    .company-caption {
        color: $secondary-color;
        font-size: 50px;
        text-transform: uppercase;

        @media screen and (max-width: 768px) { 
            font-size: 20px;           
        }
    }

    @media screen and (max-width: 768px) { 
        height: 300px;
        background-size: cover;           
    }
}