$contact-primary-color: #fe3c4a;
section.contact-us {
  .map-container {
    position: absolute;
    overflow: hidden;
    height: 500px;
    width: 100%;
    #map {
      height: 100%;
      background-color: grey;
    }
    .contact-data {
      display: inline-block;
      position: relative;
      background-color: $primary-color;
      color: $secondary-color;
      opacity: 0.9;
      top: -400px;
      right: -60%;
      width: 25%;
      height: 350px;
      box-shadow: 5px 5px 1px 1px $secondary-color;
      padding: 5px;

      @media screen and (max-width: 768px) {
        top: -450px;
        right: -10%;
        width: 80%;
        height: 400px;
      }

      @media screen and (min-width: 768px) and (max-width: 1200px){
        top: -450px;
        right: -30%;
        width: 60%;
        height: 400px;
      }

      .contact-grid {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-item: stretch;
        align-item: stretch;
        justify-content: stretch;
        align-content: stretch;
        grid-gap: 10px;
        .heading {
          grid-column: 1 / -1;
          align-self: center;
          justify-self: center;
          align-self: center;
          text-transform: uppercase;
          font-size: $large-font-size;
          border-bottom: 5px solid $secondary-color;
        }
        .contact-icon {
          grid-column: span 4;
          justify-self: center;
          align-self: center;
          @media screen and (max-width: 768px) {
            grid-column: span 2;
          }
        }
        .contact-info {
          grid-column: span 4;
          justify-self: start;
          align-self: center;
          @media screen and (max-width: 768px) {
            grid-column: span 6;
          }
        }
      }
    }
  }
}
