footer {
    background-color: lighten(#3F3F3F, 60%);
    height: 50px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    @media screen and (max-width: 768px) {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        height: 180px;  
        padding: 5px 0 5px 0;          
    }

    .company-logo, .site-nav, .social-nav{
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .company-logo {
        grid-column: span 3;
        height: 50px;
        @media screen and (max-width: 768px) {
            grid-column: none;
            grid-row: span 1;  
            order: 1;          
        }
    }

    .site-nav {
        grid-template-columns: repeat(4, 1fr);
        grid-column: span 6; 
        grid-gap: 10px;
        justify-items: center;

        @media screen and (max-width: 768px) {
            grid-column: none;
            grid-row: span 1; 
            order: 3;           
        }

        .site-nav-items {
            display: grid;
            justify-items: center;
            align-items: center;
            height: 30px;
            width: 100px;
            justify-self: stretch;
            background-color: $primary-color;
            color: $white-color;
            cursor: pointer; 
            transition: all 200ms ease-in-out;
            &:hover {
                transform: scale(1.1);
                background-color: $white-color;
                color: $secondary-color;
                border: 2px solid $secondary-color;
            }

            @media screen and (max-width: 768px) { 
                width: 75px;           
            }
        }
    }

    .social-nav {
        grid-column-start: -1; 
        padding-right: 10px;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        
        @media screen and (max-width: 768px) {
            grid-column: none;
            grid-row: span 1;  
            order: 2;          
        }

        .social-nav-items {
            display: grid;
            justify-items: center;
            align-items: center;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: $primary-color;
            color: $white-color;
            cursor: pointer;
            transition: all 200ms ease-in-out;
            &:hover { 
                transform: scale(1.1);
                background-color: $white-color;
            }
        }

        .facebook {
            background-color: $facebook-color;

            &:hover {
                border: 2px solid $facebook-color;
                color: $facebook-color;
            }
        }

        .twitter {
            background-color: $twitter-color;

            &:hover {
                border: 2px solid $twitter-color;
                color: $twitter-color;
            }
        }

        .linkedin {
            background-color: $linkedin-color;

            &:hover {
                border: 2px solid $linkedin-color;
                color: $linkedin-color;
            }
        }

        .google {
            background-color: $google-color;

            &:hover {
                border: 2px solid $google-color;
                color: $google-color;
            }
        }

        .youtube {
            background-color: $youtube-color;

            &:hover {
                border: 2px solid $youtube-color;
                color: $youtube-color;
            }
        }

        .vimeo {
            background-color: $vimeo-color;

            &:hover {
                border: 2px solid $vimeo-color;
                color: $vimeo-color;
            }
        }
    }
}