header {
    background-color: $white-color;
    color: $primary-font-color;
    // box-shadow: 10px 5px 5px 1px $primary-color;
    // margin-bottom: 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    padding-top: 10px;

    .main-nav {
        height: 130px;
        display: grid;
        grid-gap: 10px;
        padding-left: 5px;
        padding-right: 5px;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: stretch;
        align-items: stretch;
        justify-content: center;
        align-content: center;

        @media screen and (max-width: 768px) {
            height: 70px;
            grid-template-rows: none;                     
        }

        .nav-item {
            grid-column: span 4;
            display: grid;
            justify-items: center;
            align-items: center;
            text-transform: uppercase;
        }
        
        .mobile-ham-menu{
            display: none;
            @media screen and (max-width: 768px) {
                display: grid; 
                justify-self: center;
                align-self: center;
                order: 1;    
                grid-column: span 4; 
                grid-row: span 2;      
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: $white-color;
                color: $primary-color;
                border: 2px solid $secondary-color;
                cursor: pointer;
                transition: all 200ms ease-in-out;
                
                &:hover {
                    transform: scale(1.1);
                    background-color: $primary-color;
                    color: $secondary-color;
                    border: none;
                }
            }
        }

        .page-link {
            grid-column: span 2;
            font-size: $large-font-size;
            cursor: pointer;
            background-color: $primary-color;
            color: $white-color;
            height: 60px;
            margin-bottom: 5px;
            align-self: center;
            transition: all 200ms ease-in-out;
    
            &:hover {
                transform: scale(1.01);
                border: 2px solid #CE971B;
                background-color: $white-color;
                color: #CE971B;
            }

            @media screen and (max-width: 768px) {
                display: none;            
            }
        }

        .social-connect {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 5px;
            color: $primary-color;

            @media screen and (max-width: 768px) { 
                justify-self: center;
                align-self: center;
                grid-column: span 4; 
                grid-row: span 2;
                order: 3;         
            }

            .social-circle {
                display: grid;
                justify-items: center;
                align-items: center;
                height: 30px;
                width: 30px;
                border-radius: 100%;
                border: 1px solid $primary-color;
                cursor: pointer;
                transition: all 100ms ease-in-out;
                font-size: $small-font-size * 0.9;
                
                @media screen and (max-width: 768px) { 
                    height: 20px;
                    width: 20px;      
                }

                &:hover{
                    transform: scale(1.2);
                }
            }
    
            .facebook:hover {
                color: #3c5998;
                border: 1px solid #3c5998;
            }
    
            .twitter:hover {
                color: #1da1f2;
                border: 1px solid #1da1f2;
            }
    
            .linkedin:hover {
                color: #0077b5;
                border: 1px solid #0077b5;
            }
        }
    
        .company-logo {
            grid-column: span 8;
            font-size: $large-font-size;
            grid-row: span 2;
            margin: 10px 0 10px 0;
            // justify-self: center;
            // align-self: center;
            @media screen and (max-width: 768px) {  
                width: 150px;
                height: 150px;
                order: 2;     
                justify-self: center;
                align-self: center;   
            }
        }
    
        .sign-in, .sign-up {
            margin: 7px;
            grid-column: span 2;
            border: 1px solid $primary-color;
            transition: all 100ms ease-in-out;
            cursor: pointer;
            height: 40px; 
            align-self: center;
            
            &:hover {
                transform: scale(1.2);
                background-color: $primary-color;
                color: $white-color;
            }

            @media screen and (max-width: 768px) {
                display: none;            
            }
        }
    }

    section.mobile-nav-menu {
        position: fixed;
        left: 0px;
        top: 80px;
        width: 100vw;
        height: 0px;
        background-color: lighten($primary-color, 40%);
        z-index: -1;
        transform: translateY(-400px);
        // opacity: 0.8;
        transition: all 300ms ease-in-out;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        text-transform: uppercase;
        text-align: center;
        grid-gap: 5px;

        .nav-item {
            color: $white-color;
            background-color: $primary-color;
            display: grid;
            justify-items: center;
            align-items: center;
            width: 100px;
            height: 40px;
            grid-column: span 2;
            grid-row: span 1;
            transition: all 200ms ease-in-out;

            &:hover {
                transform: scale(1.01);
                border: 2px solid #CE971B;
                background-color: $white-color;
                color: #CE971B;
            }
        }

        .sign-in, .sign-up {
            grid-column: span 1;
        }

        &.menu-open {
            transform: translateY(0px);
            z-index: 10;
            height: 250px;
        }
    }
}