section.scroll-section {
    width: 100%;
    height: 500px;
}

main{
    section.scroll-section {
        width: 100%;
        display: grid;
        padding-top: 100px;

        .section-heading {
            text-transform: uppercase;
            justify-self: center;
            align-self: center;
            border-bottom: 5px solid $secondary-color;
            margin-bottom: 10px;
        }

        .section-text {
            p {
                text-align: center;
                padding: 30px;
            }
        }  
    }

    .career-section, .about-section, .team-section {
        // background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        height: auto;
    }

    .about-section {
        .about-us-icons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr); 
            justify-items: center;
            align-items: center;
            paddding: 0;

            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
            }
            
            .icon, .caption { 
                grid-column: span 1;
                justify-self: center;
                align-self: center;
            } 
            
            .caption {
                text-transform: uppercase;
                justify-self: center;
                align-self: center;
            }

            @media screen and (max-width: 768px) { 
                .dg-icon{
                    order: 1;
                }
    
                .dg-caption{
                    order: 2;
                }
    
                .cr-icon{
                    order: 3;
                }
    
                .cr-caption{
                    order: 4;
                }
    
                .an-icon{
                    order: 5;
                }
    
                .an-caption{
                    order: 6;
                }
    
                .au-icon{
                    order: 7;
                }
    
                .au-caption{
                    order: 8;
                }       
            }
        }
    }
}