$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/components-font-awesome/scss/fontawesome.scss";
// endbower

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald-Regular.ttf");
}

$primary-color: #414042;
$secondary-color: #CE971B;

$primary-font-color: #414042;
$secondary-font-color: #CE971B;
$white-color: #FFFFFF;

$facebook-color: #3c5998;
$twitter-color: #1da1f2;
$google-color: #ea4335;
$youtube-color: #ff0000;
$vimeo-color: #17272e;
$linkedin-color: #0077b5;

$font-size: 16px;
$small-font-size: $font-size * 0.875;
$large-font-size: $font-size * 1.5;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Oswald', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: $font-size;
  margin-top: 150px;
  @media screen and (max-width: 768px) {
    margin-top: 80px;                        
  }
}

.container-full { 
  padding: 0;
}

.no-decoration {
  text-decoration: none;
}

#copyright{
  display: grid;
  height: 20px;
  background-color: $primary-color;
  color: $secondary-color;
  font-size: $small-font-size;
  grid-template-columns: 100%;
  text-transform: none;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@import 
  "_header",
  "_banner",
  "_section",
  "_contact",
  "_footer";